body{
    margin: 0px;
}
.header{
    background-color: blue;
    height: 80px;
}

.main{
    background-color:green;
    display:flex;

}
.stats{
    background-color: purple;
    width:15%
}

.title{
    height: 36px;
    background-color: black;
}
.statsContent{
    height:60px;
    width: 140px;
    background-color:blanchedalmond;
    text-align: center;
    margin: 5px;
}

.container{
    background-color: orangered;
    width: 100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    height: 150px;
    width:140px;
    background-color: yellow;
    text-align: center;
    margin: 10px;
    position: relative;
}

.back{
    width:100%;
    height:100%;
}


.face{
    background-image: url("../images/up-theme-images/balloon-costa-rica.jpg");
    background-size:cover;
    height:100%;
    width:100%;
}

.hidden{
    display:none;
}

.dog{
    background-image: url("../images/up-theme-images/alpha-doberman.png");
    background-size:cover;
}

.bird{
    background-image: url("../images/up-theme-images/bird.png");
    background-size:cover;
}

.carl{
    background-image: url("../images/up-theme-images/carl.png");
    background-size:cover;

}

.charles{
    background-image: url("../images/up-theme-images/charles-muntz.png");
    background-size:cover;
}

.ellie{
    background-image: url("../images/up-theme-images/ellie.png");
    background-size:cover;
}

.balloon{
    background-image: url("../images/up-theme-images/hiclipart.com.png");
    background-size:cover;
}

.old{
    background-image: url("../images/up-theme-images/olderellieandcarl.png");
}

.kid{
    background-image: url("../images/up-theme-images/sky_balloon_image.jpg");
    background-size: cover;
    width:100%;
    height:100%;
}

.dug{
    background-image: url("../images/up-theme-images/dug.png");
    background-size: cover;
}

.ellie{
    background-image: url("../images/up-theme-images/ellie.png");
    background-size: cover;
}
